
    <span *ngFor="let maker of makers">
                <div class="container">
                    <section class="mx-auto my-5" style="max-width: 23rem;">
                    <div class="card testimonial-card mt-2 mb-3">
                        <div class="card-up aqua-gradient"></div>
                        <div class="avatar mx-auto white">
                        <img src={{maker.img}} class="rounded-circle img-fluid"
                            alt="woman avatar">
                        </div>
                        <div class="card-body text-center">
                             <h4 class="card-title font-weight-bold">{{maker.name}}</h4>
                            <hr>
                             <span  *ngFor="let product of products">
                                    <span *ngIf="product.makerName === maker.name">
                                          <p><i class="fas fa-quote-left"></i> {{product.name}} <span style="font-weight: bold;">{{ product.price }}$</span></p>
                                     </span>
                            </span>
                            <hr>
                            <h3>Add Product</h3>
                            <form [formGroup]="updateProduct" (ngSubmit)="sendProduct(maker.name)">
                                <input class="minimalist-input" type="text" name="" id="" placeholder="Product Name" formControlName="name">
                                <input class="minimalist-input" type="text" name="" id="" placeholder="Product Price" formControlName="price"><br><br>
                                <button class="btn btn-warning" type="submit" >Post</button>
                            </form>
                        </div>
                    </div>
                    </section>
                </div>
            </span>