@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    overflow: hidden;
}
html, body {
    height: 100%;
}
.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  
  .aqua-gradient {
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
  }
  
  .testimonial-card .avatar {
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
  }

  input.minimalist-input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out;
  }
  
  /* Estilos adicionales cuando el input está enfocado */
  input.minimalist-input:focus {
    border-color: #007bff; /* Puedes ajustar este color según tus preferencias */
  }

  