<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Register Maker</h3>
                    <p>Fill in the data below.</p>
                    <form class="requires-validation" novalidate>
                        <div class="col-md-12">
                            <input class="form-control" type="text" name="name" placeholder="Maker name" required>
                            <div class="valid-feedback">name field is valid!</div>
                            <div class="invalid-feedback">name field cannot be blank!</div>
                        </div>                            
                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
         

            <div class="form-content">
                <div class="form-items">
                    <h3>Search maker</h3>
                    <form class="requires-validation" novalidate>
                        <div class="col-md-12">
                           <input class="form-control" type="text" name="name" placeholder="Maker name" required>
                           <div class="valid-feedback">name field is valid!</div>
                           <div class="invalid-feedback">name field cannot be blank!</div>
                        </div>                            
                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
          <div *ngFor="let maker of makers">
            <div class="col">
                <div class="col-sm-3">
                        <div class="card card-block">
                            <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" src={{maker.img}} data-holder-rendered="true" style="height: 100px; width: 100%; display: block;">
                            <div class="card-block">
                                <h4 class="card-title">{{maker.name}}</h4>
                                <div *ngFor="let product of products">
                                    <div *ngIf="product.makerName === maker.name">
                                        <p class="card-text">{{product.name}} {{ product.price }}$</p><br>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    
</div>

